# --- Telegram ---
TELEGRAM_BOT_TOKEN=""
# --- DeepSeek ---
DEEPSEEK_API_KEY=""
# --- Postgres ---
POSTGRES_USER=""
POSTGRES_PASSWORD=""
POSTGRES_DB=""
POSTGRES_HOST=""
POSTGRES_PORT=""
# --- LangSmith Tracing ---
LANGSMITH_API_KEY=""
LANGSMITH_PROJECT=""
# --- App ---
APP_URL=""