aiofiles~=25.1.0
aiogram~=3.23.0
aiosqlite~=0.22.1
alembic~=1.17.2
argon2-cffi~=25.1.0
asyncpg~=0.31.0
chromadb~=1.4.1
ddgs~=9.10.0
fastapi[all]~=0.127.1
html-to-markdown~=2.20.0
jinja2~=3.1.6
langchain~=1.2.0
langchain-community~=0.4.1
langchain-openai~=1.1.6
langchain-text-splitters~=1.1.0
langgraph~=1.0.5
langgraph-checkpoint~=3.0.1
langgraph-checkpoint-sqlite~=3.0.3
langgraph-cli[inmem]~=0.4.12
markdown~=3.10.1
markitdown[all]~=0.1.4
mypy~=1.19.1
pandas~=2.3.3
passlib~=1.7.4
playwright~=1.57.0
pydantic~=2.12.5
python-markdown-math~=0.9
pytz~=2025.2
ruff~=0.14.10
sentence-transformers~=5.2.0
sqlalchemy~=2.0.45
faststream~=0.6.5
langchain-core~=1.2.5
aiohttp~=3.13.2
tenacity~=9.1.2
PyJWT~=2.10.1
beautifulsoup4~=4.14.3
python-dotenv~=1.2.1
pydantic-settings~=2.12.0
uvicorn~=0.40.0
anyio~=4.12.0